.sParent{
    margin-top: 10px;
    
}

.skill-tag{
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid white;
    margin: 10px 14px 10px 0px;
    border-left: 5px solid indianred;
}


